# FASE 1: Preparación y limpieza de datos

In [3]:
import pandas as pd

### Carga de datos

In [4]:
teams=pd.read_csv("/workspaces/ESTADISTICA_sem_II_2025/Proyecto_1/DATA/teams.csv")
stats=pd.read_csv("/workspaces/ESTADISTICA_sem_II_2025/Proyecto_1/DATA/teamStats.csv")

In [5]:
teams

,teamId,location,name,abbreviation,displayName,shortDisplayName,color,alternateColor,logoURL,venueId,slug
0,2,Almagro,Almagro,ALM,Almagro,Almagro,212121,000000,https://a.espncdn.com/i/teamlogos/soccer/500/2...,6130,arg.almagro
1,3,Argentinos Juniors,Argentinos Juniors,ARGJ,Argentinos Juniors,Argentinos,C60000,0060f0,https://a.espncdn.com/i/teamlogos/soccer/500/3...,10785,arg.argentinos_juniors
2,4,Belgrano (Córdoba),Belgrano (Córdoba),BEL,Belgrano (Córdoba),Belgrano,0060f0,1a1a1a,https://a.espncdn.com/i/teamlogos/soccer/500/4...,2736,arg.belgrano_de_cordoba
3,5,Boca Juniors,Boca Juniors,CABJ,Boca Juniors,Boca,fcb000,0060f0,https://a.espncdn.com/i/teamlogos/soccer/500/5...,5348,arg.boca_juniors
4,6,Chacarita Juniors,Chacarita Juniors,CHA,Chacarita Juniors,Chacarita,000000,000000,https://a.espncdn.com/i/teamlogos/soccer/500/6...,6079,arg.chacarita_juniors
...,...,...,...,...,...,...,...,...,...,...,...
4139,131571,Saint-Cyr Collonges,Saint-Cyr Collonges,SCC,Saint-Cyr Collonges,Collonges,000000,C60000,NaN,0,collonges
4140,131572,Stade Béthunois,Stade Béthunois,SB,Stade Béthunois,Béthunois,000000,C60000,NaN,0,bethunois
4141,131573,Arcachon,Arcachon,ARC,Arcachon,Arcachon,000000,C60000,NaN,0,arcachon
4142,131576,Montreuil FC,Montreuil FC,MON,Montreuil FC,Montreuil,4cbb17,000000,NaN,0,montreuil
4143,131577,San Juan SN,San Juan SN,SJSN,San Juan SN,San Juan SN,000000,C60000,NaN,0,sanjuansn

Para ordenar una columna respecto sus valores, usar `.sort_values("nombre de la columna")`

In [6]:
stats.sort_values("teamId")

,seasonType,eventId,teamId,teamOrder,possessionPct,foulsCommitted,yellowCards,redCards,offsides,wonCorners,...,accurateLongBalls,longballPct,blockedShots,effectiveTackles,totalTackles,tacklePct,interceptions,effectiveClearance,totalClearance,updateTime
66567,13166,728747,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-01-17 05:55:41
66374,13166,728650,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-01-17 05:55:41
66333,13166,728630,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-01-17 05:55:41
7304,12394,695175,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-10 22:03:19
7328,12394,695187,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-10 22:03:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102469,13808,760661,131551,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-11-05 06:13:31
102570,13814,760864,131552,0,29.4,15.0,1.0,1.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-11-27 06:06:44
102574,13814,760865,131552,1,37.7,15.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-12-05 06:06:44
102548,13242,760800,131553,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-11-15 06:09:43
102707,13242,760954,131553,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-11-11 06:10:14

### 1.1 Unión de datos:
 Se suministrán dos archivos .csv. Deben unir (merge/join) los DataFrames para identificar los equipos asociados a cada uno de los partidos y consolidar la información necesaria en una sola estrucutura

In [10]:
team_stats=pd.merge(teams[['teamId','abbreviation','displayName']],stats,how='right',on='teamId')

In [11]:
team_stats

,teamId,abbreviation,displayName,seasonType,eventId,teamOrder,possessionPct,foulsCommitted,yellowCards,redCards,...,accurateLongBalls,longballPct,blockedShots,effectiveTackles,totalTackles,tacklePct,interceptions,effectiveClearance,totalClearance,updateTime
0,4381,BHR,Bahrain,12136,688265,0,41.5,6.0,1.0,0.0,...,24.0,0.4,0.0,12.0,21.0,0.6,14.0,14.0,14.0,2024-01-10 21:36:53
1,628,AUS,Australia,12136,688265,1,58.5,19.0,1.0,0.0,...,26.0,0.6,1.0,7.0,9.0,0.8,14.0,5.0,5.0,2024-01-10 21:36:53
2,627,JPN,Japan,12136,689519,0,58.9,7.0,0.0,0.0,...,27.0,0.6,10.0,9.0,16.0,0.6,22.0,10.0,10.0,2024-01-07 03:20:23
3,4396,THA,Thailand,12136,689519,1,41.1,6.0,2.0,0.0,...,19.0,0.3,3.0,12.0,16.0,0.8,12.0,37.0,37.0,2024-01-07 03:20:23
4,448,ENG,England,12136,689956,0,52.9,11.0,1.0,0.0,...,20.0,0.8,4.0,10.0,14.0,0.7,7.0,7.0,7.0,2024-03-25 02:42:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103247,20889,IPE,Independiente Petrolero,13303,762446,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-08 06:10:06
103248,9361,LIB,Municipal Liberia,13577,762470,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-08 06:10:06
103249,2057,ALA,Alajuelense,13577,762470,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-08 06:10:06
103250,7245,ESP,Real Espana,13585,762475,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-09 06:02:24
103251,884,OLI,Olimpia,13585,762475,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-09 06:02:24

In [12]:
team_stats.to_csv("/workspaces/ESTADISTICA_sem_II_2025/Proyecto_1/DATA/team_stats.csv",index=False)

### 1.2 Filtrado
Una vez unificados los datos, deben limpiar el DataFrame y conservar únicamente los registros correspondientes a los 10 equipos más representativos del 2024